<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %> 
  <title>About us</title>
  <body>
    <%-include('./partials/header.ejs') %>
    <section class="text-gray-600 overflow-hidden">
      <div class="container py-5 mx-auto ">
        <div class="content">
          <div class="title">
            <h1 class="text-black text-4xl font-semibold text-center">
              About us
            </h1>
          </div>
            <hr />
            <div class="subcontent">
              <h2 class="text-black text-xl px-2">
                What do we do?
              </h2>
            <p class="text-gray-400 px-2 my-2 text-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui aut impedit earum provident, magnam inventore consequatur est debitis eligendi, veritatis voluptate et fuga temporibus pariatur, ipsa accusamus vel. Sunt, nam.
              Accusantium provident ullam, molestias id consectetur, tempore aliquam quasi aspernatur minus temporibus soluta natus voluptatem, pariatur quas voluptatum perspiciatis vel enim iste similique esse facere? Ex expedita maxime impedit harum!
              <br />
            </p>
          </div>
          <div class="subcontent">
            <h2 class="text-black text-xl px-2">
              Are you thinking about hiring an expert in DevOps?
            </h2>
            <p class="text-gray-400 px-2 my-2 text-lg">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus fugit, laudantium, dolore placeat suscipit sapiente odio ea rem vel nisi, asperiores neque temporibus et aliquam optio id quo doloremque quis?
              Incidunt voluptate asperiores tenetur repudiandae minus, error officia quam deleniti non repellendus rem tempore blanditiis ea ullam quae praesentium animi. Libero voluptas dolore dicta quo facere non ullam, atque ab?
            </p>
          </div>
          <div class="subcontent">
            <h2 class="text-black text-xl px-2">
              How long does it take for us to answer?
            </h2>
            <p class="text-gray-400 px-2 my-2 text-lg">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus fugit, laudantium, dolore placeat suscipit sapiente odio ea rem vel nisi, asperiores neque temporibus et aliquam optio id quo doloremque quis?
              Incidunt voluptate asperiores tenetur repudiandae minus, error officia quam deleniti non repellendus rem tempore blanditiis ea ullam quae praesentium animi. Libero voluptas dolore dicta quo facere non ullam, atque ab?
            </p>
          </div>
          <div class="subcontent">
            <h2 class="text-black text-xl px-2">
              What are our services?
            </h2>
            <p class="text-gray-400 px-2 my-2 text-lg">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus fugit, laudantium, dolore placeat suscipit sapiente odio ea rem vel nisi, asperiores neque temporibus et aliquam optio id quo doloremque quis?
              Incidunt voluptate asperiores tenetur repudiandae minus, error officia quam deleniti non repellendus rem tempore blanditiis ea ullam quae praesentium animi. Libero voluptas dolore dicta quo facere non ullam, atque ab?
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
